https://adventofcode.com/2022/day/2

--- Day 2: Rock Paper Scissors ---

The Elves begin to set up camp on the beach. To decide whose tent gets to be closest to the snack storage, a giant Rock Paper Scissors tournament is already in progress.

Rock Paper Scissors is a game between two players. Each game contains many rounds; in each round, the players each simultaneously choose one of Rock, Paper, or Scissors using a hand shape. Then, a winner for that round is selected: Rock defeats Scissors, Scissors defeats Paper, and Paper defeats Rock. If both players choose the same shape, the round instead ends in a draw.

Appreciative of your help yesterday, one Elf gives you an encrypted strategy guide (your puzzle input) that they say will be sure to help you win. "The first column is what your opponent is going to play: A for Rock, B for Paper, and C for Scissors. The second column--" Suddenly, the Elf is called away to help with someone's tent.

The second column, you reason, must be what you should play in response: X for Rock, Y for Paper, and Z for Scissors. Winning every time would be suspicious, so the responses must have been carefully chosen.

The winner of the whole tournament is the player with the highest score. Your total score is the sum of your scores for each round. The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

Since you can't be sure if the Elf is trying to help you or trick you, you should calculate the score you would get if you were to follow the strategy guide.

For example, suppose you were given the following strategy guide:

A Y
B X
C Z

This strategy guide predicts and recommends the following:

    In the first round, your opponent will choose Rock (A), and you should choose Paper (Y). This ends in a win for you with a score of 8 (2 because you chose Paper + 6 because you won).
    In the second round, your opponent will choose Paper (B), and you should choose Rock (X). This ends in a loss for you with a score of 1 (1 + 0).
    The third round is a draw with both players choosing Scissors, giving you a score of 3 + 3 = 6.

In this example, if you were to follow the strategy guide, you would get a total score of 15 (8 + 1 + 6).

What would your total score be if everything goes exactly according to your strategy guide?

In [1]:
import pandas as pd

df = pd.read_csv("strategyguide.txt", delim_whitespace=True, names=['opponent', 'choice'])
df

     opponent choice
0           B      Z
1           C      Z
2           B      X
3           A      Y
4           B      X
...       ...    ...
2495        A      X
2496        B      X
2497        B      X
2498        C      Y
2499        B      Z

[2500 rows x 2 columns]

In [2]:
def shape_pts(choice):
    if choice == 'X':
        return 1
    elif choice == 'Y':
        return 2
    elif choice == 'Z':
        return 3


def outcome_pts(row):
    if row.choice == 'X': # ROCK
        if row.opponent == 'A': #rock
            return 3
        if row.opponent == 'B': #paper
            return 0
        if row.opponent == 'C': #scissors
            return 6      
    if row.choice == 'Y': # PAPER
        if row.opponent == 'A': #rock
            return 6
        if row.opponent == 'B': #paper
            return 3
        if row.opponent == 'C': #scissors
            return 0        
    if row.choice == 'Z': # SCISSORS
        if row.opponent == 'A': #rock
            return 0
        if row.opponent == 'B': #paper
            return 6
        if row.opponent == 'C': #scissors
            return 3        

        
df['shape_pts'] = df.choice.apply(shape_pts)

df['outcome_pts'] = df.apply(outcome_pts, axis=1)

df['score'] = df['shape_pts'] + df['outcome_pts']

df

     opponent choice  shape_pts  outcome_pts  score
0           B      Z          3            6      9
1           C      Z          3            3      6
2           B      X          1            0      1
3           A      Y          2            6      8
4           B      X          1            0      1
...       ...    ...        ...          ...    ...
2495        A      X          1            3      4
2496        B      X          1            0      1
2497        B      X          1            0      1
2498        C      Y          2            0      2
2499        B      Z          3            6      9

[2500 rows x 5 columns]

In [3]:
sum(df.score)

12458

--- Part Two ---

The Elf finishes helping with the tent and sneaks back over to you. "Anyway, the second column says how the round needs to end: X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win. Good luck!"

The total score is still calculated in the same way, but now you need to figure out what shape to choose so the round ends as indicated. The example above now goes like this:

    In the first round, your opponent will choose Rock (A), and you need the round to end in a draw (Y), so you also choose Rock. This gives you a score of 1 + 3 = 4.
    In the second round, your opponent will choose Paper (B), and you choose Rock so you lose (X) with a score of 1 + 0 = 1.
    In the third round, you will defeat your opponent's Scissors with Rock for a score of 1 + 6 = 7.

Now that you're correctly decrypting the ultra top secret strategy guide, you would get a total score of 12.

Following the Elf's instructions for the second column, what would your total score be if everything goes exactly according to your strategy guide?

In [4]:
df = pd.read_csv("strategyguide.txt", delim_whitespace=True, names=['opponent', 'outcome'])
df

     opponent outcome
0           B       Z
1           C       Z
2           B       X
3           A       Y
4           B       X
...       ...     ...
2495        A       X
2496        B       X
2497        B       X
2498        C       Y
2499        B       Z

[2500 rows x 2 columns]

In [5]:
def choice(row):
    if row.outcome == 'X': # LOSE
        if row.opponent == 'A': #rock
            return 'C'
        if row.opponent == 'B': #paper
            return 'A'
        if row.opponent == 'C': #scissors
            return 'B'      
    if row.outcome == 'Y': # DRAW
        if row.opponent == 'A': #rock
            return 'A'
        if row.opponent == 'B': #paper
            return 'B'
        if row.opponent == 'C': #scissors
            return 'C'        
    if row.outcome == 'Z': # WIN
        if row.opponent == 'A': #rock
            return 'B'
        if row.opponent == 'B': #paper
            return 'C'
        if row.opponent == 'C': #scissors
            return 'A'        

        
def shape_pts(choice):
    if choice == 'A':
        return 1
    elif choice == 'B':
        return 2
    elif choice == 'C':
        return 3
    
    
def outcome_pts(outcome):
    if outcome == 'X':
        return 0
    elif outcome == 'Y':
        return 3
    elif outcome == 'Z':
        return 6


    
df['choice'] = df.apply(choice, axis=1)

df['shape_pts'] = df.choice.apply(shape_pts)

df['outcome_pts'] = df.outcome.apply(outcome_pts)

df['score'] = df['shape_pts'] + df['outcome_pts']

df

     opponent outcome choice  shape_pts  outcome_pts  score
0           B       Z      C          3            6      9
1           C       Z      A          1            6      7
2           B       X      A          1            0      1
3           A       Y      A          1            3      4
4           B       X      A          1            0      1
...       ...     ...    ...        ...          ...    ...
2495        A       X      C          3            0      3
2496        B       X      A          1            0      1
2497        B       X      A          1            0      1
2498        C       Y      C          3            3      6
2499        B       Z      C          3            6      9

[2500 rows x 6 columns]

In [6]:
sum(df.score)

12683